
.dialog__container{
    width: 70%;
    height: 80%;
    padding: 3rem 2rem;
    border: none;
    border-radius: 1rem; 
}
.dialog__container>h2{
    font-size: var(--title-size-1);
    line-height:var(--line-height-title-1);
}
.dialog__container>p{
    font-size: var(--title-size-2);
    line-height:var(--line-height-text-1);
}
    dialog::backdrop{
    backdrop-filter: blur(1px);
}
.close-modal{
    float: right;
    cursor: pointer;
   
}


@media  (min-width: 1000px) {

    .dialog__container{
        width: 40%;
        padding: 3rem 2rem;
        border: none;
        border-radius: 1rem;
    }
}

